<div class="navbar-fixed-bottom" id="footer">
  <div class="container-fluid">
    <p><%= link_to 'about' %> | <%= link_to 'contact' %> | <%= link_to 'terms' %></p>
    <p>&copy; Autism Connect 2014. All rights reserved.</p>
  </div>
</div>