<div class="navbar-fixed-bottom" id="footer">
  <div class="container-fluid">
    <p><%= link_to 'about', '/about' %> | <%= link_to 'contact', '/contact' %> | <%= link_to 'terms' %></p>
    <p class="copyright">&copy; Autism Connect 2014. All rights reserved.</p>
  </div>
</div>