<div class="navbar-fixed-bottom" id="footer">
  <div class="container-fluid">
    <p><%= link_to 'about us', '/about' %> | <%= link_to 'contact & feedback', 'http://autismconnect.uservoice.com/' %> | <%= link_to 'terms', '/terms' %></p>
    <p class="copyright">&copy; Autism Connect 2014. All rights reserved.</p>
  </div>
</div>