<div class="aboutus">
  <div class="inner">
    <div class="copy">
      <h1 class="center">About Us</h1>

      <p>Welcome to Autism Connect, bringing together professionals, caregivers and parents of autistic individuals. Here you will find the latest event happenings and information pertaining to Autism Spectrum Disorder. We understand that families affected by autism face challenges every day; Autism Connect makes sure you don't have to face these challenges alone. We provide a safe community allowing families to lean on one another for support, while bridging the gap between parents and professionals to improve the lives of children with autism and their families.</p>

      <%= image_tag "checkers.jpg" %>
    </div>


  </div>
</div>