<div id="topofpage"></div>
<div class="welcome" id="welcome">
  <div class="inner">
    <div class="copy">
      <p>Welcome to Autism Connect, bringing together professionals, caregivers and parents of autistic individuals. Here you will find the latest event happenings and information pertaining to Autism Spectrum Disorder. We understand that families affected by autism face challenges every day; Autism Connect makes sure you don't have to face these challenges alone. We provide a safe community allowing families to lean on one another for support, while bridging the gap between parents and professionals to improve the lives of children with autism and their families.</p>
    </div>
  </div>

    <div class="welcome-icon-down">
      <a href="#events" class="glyphicon glyphicon-chevron-down"></a>
    </div>

</div>

<div class="events" id="events">
  <div class="inner">
    <div class="container-fluid">
    <h1 class="center">Upcoming Events</h1>
      <div class="row">
        <% @events.each do |event| %>
          <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="info-text-box">
              <span class="rowtitle"><%= event.name %></span><br><br><%= event.description.truncate(300) %></div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

    <div class="events-icon-down">
      <a href="#news" class="glyphicon glyphicon-chevron-down"></a>
    </div>

</div>

<div class="news" id="news">
  <div class="inner">
    <div class="container-fluid">
    <h1 class="center">News</h1>
      <div class="row">
        <% @articles.each do |article| %>
          <div class="col-md-4 col-lg-4 col-sm-4"><span class="rowtitle"><%= article.title %></span><br><br><spanclass="rowcontent"><%= article.body.truncate(300) %></span></div>
        <% end %>
      </div>
    </div>
  </div>
  
    <div class="icon-to-top">
      <a href="#topofpage" class="glyphicon glyphicon-chevron-up"></a>
    </div>
</div>