<div class="aboutus">
  <div class="inner">
    <div class="copy">
      <h1 class="center">Our Disclaimer</h1>

      <p>We'd like to think Autism Connect is a great place for anybody to find information pertaining to Autism. It can be a melting pot of ideas, philosphies and stories from a myriad of different cultures and countries!</p>
      <%= image_tag "medicalpract.jpg", :style => "float:right; padding: 2px 10px; width: 400px;" %>
      <p>Autism Connect contains content produced and sourced by its' users - and some may come from questionable or unconventional sources. We suggest that all information on the site be taken with a grain of salt, unless the author can be proven to be an authoratative figure on a particular topic.</p>
      <p>Like with any medical information found on the internet, Autism Connect strongly recommends you consult a General Practitioner before you follow any medical suggestions suggested here.</p>
      <p>That being said, enjoy the resources our community has to offer!</p>


    </div>


  </div>
</div>