<div class="form-fields-sign-edit-event clearfix">

  <h1>Editing document</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @document, :class=> "btn btn-default btn-sm" %> |
  <%= link_to 'Back', documents_path, :class=> "btn btn-default btn-sm" %>
</div>