/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .communications{
 	margin: 0 auto;
 	padding-top: 55px;
 	width: 60%;
 }

.alert{
	color: #E27A3F;
	margin: 0 auto;
	border: 1px dotted #E27A3F;
	padding: 3px 6px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.notice{
	color: #45B29D;
	margin: 0 auto;
	border: 1px dotted #45B29D;
	padding: 3px 6px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
