// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article-show-inner{
  width:60%;
  margin:0 auto;
  font-family:"mulilight";
}
.article-show-inner h1{
  font-family: "aleoregular";
}
.article-show-inner h2{
  font-family: "aleolight";
}
.article-show-inner p{
  font-family: "mulilight";
  line-height:20px;
  font-size:14px;
}
h4 a:hover{
  text-decoration: none;
  background-color:transparent;
  color:#df5a49;
}