// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-fields-charges{
  width:50%;
  margin:0 auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header-charges h1{
  font-family:"aleoregular";
}

.stripe-button-el span{
  line-height: 40px!important;
  height:45px!important;
}
.stripe-button-el{
  min-width:200px;
  margin-top:20px;
}