@import "bootstrap";

.search-events{
  margin:0 auto;
  width:18%;
  padding-top:20px;
  text-align:center;
  padding-bottom:50px;
}
.search-events{
  font-family: "chunkfiveroman";
}
.events-all{
  padding-bottom:10%;
  padding-left: 10%!important;
  padding-right: 10%!important;
}

.events-quote{
  background-image: image-url("dots-pattern.jpg");
  background-repeat: repeat;
  position:relative;
  z-index: 1;
  height: 250px;
  width: 100%;
  padding-top: 55px;
}

.events-quote.inner{
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.events-quote p{
  font-family: 'muliregular', Verdana, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  text-align: center
}

.events-quote h1{
  font-family: 'chunkfiveroman', serif;
  letter-spacing: 1px;
}

.icon-down{
  text-align: center;
  font-size: 30px;
  position: relative;
  bottom: 0;
}

.event-title{
  position: absolute;
  top: 170px;
  height: 50px;
  width: 94%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.93);
  line-height: 25px;
  font-size: 13px;
  color: #120E0B;
  font-family: 'muliregular'-webkit-body;
  font-weight: bolder;
}
.event-title a:hover{
  text-decoration: none;
  background-color:transparent;
  color:#df5a49;
}

.buttons-left-admin{
  float:left;
  margin-top:30px;
}

.event{
  padding-top:40px;
}

.event-show-one{
  text-align: left;
}

.event-one-row{
  margin-left: 10%!important;
  margin-right: 10%!important;
  padding: 6% 0;
}

.event-show-one h1{
  font-family: 'chunkfiveroman', serif;
  letter-spacing: 1px;
  font-size: 24px;
  margin-top:0px;
  padding:20px 0;
  border-top:1px solid #ccc;
}