@import "bootstrap";
// Styles for pages (home, about, information)

.center {
  text-align: center;
}

.inner {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
  background-image: image-url("dots-pattern.jpg");
  background-repeat: repeat;
  position:fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding-top: 55px;
  margin-top: -55px;
}
.welcome-icon-down {
  text-align: center;
  font-size: 30px;
  padding-top: 25px;
}
.welcome-icon-down > a:link {
  background-color: transparent !important;
  text-decoration: none;
  color: #303030;
}
.welcome-icon-down > a:visited {
  color: #303030;
}
.welcome-icon-down > a:hover {
  color: #45B29D;
}
.welcome-icon-down > a:active {
  color: #45B29D;
}


.events {
  position: relative;
  z-index: 10;
  margin-top: 25%;
  min-height: 600px;
  width: 100%;
  background: #45B29D;
  padding-top: 70px;
}
.events-icon-down {
  text-align: center;
  font-size: 30px;
  padding-top: 25px;
}
.events-icon-down > a:link {
  background-color: transparent !important;
  text-decoration: none;
  color: #303030;
}
.events-icon-down > a:visited {
  color: #303030;
}
.events-icon-down > a:hover {
  color: #E27A3F;
}
.events-icon-down > a:active {
  color: #E27A3F;
}

.news {
  position: relative;
  z-index: 12;
  margin-top: 0;
  min-height: 600px;
  width: 100%;
  background: #E27A3F;
  padding-top: 70px;
}
.icon-to-top {
  text-align: center;
  font-size: 30px;
  padding-top: 25px;
}
.icon-to-top > a:link {
  background-color: transparent !important;
  text-decoration: none;
  color: #303030;
}
.icon-to-top > a:visited {
  color: #303030;
}
.icon-to-top > a:hover {
  color: #FFFFFF;
}
.icon-to-top > a:active {
  color: #FFFFFF;
}


.articles {
  position: relative;
  z-index: 10;
  margin-top: 25%;
  min-height: 600px;
  width: 100%;
  background: #DF5A49;
  padding-top: 70px;
}

.resources {
  position: relative;
  z-index: 12;
  margin-top: 0;
  min-height: 600px;
  width: 100%;
  background: #334D5C;
  padding-top: 70px;
}

.downloads {
  position: relative;
  z-index: 14;
  margin-top: 0;
  min-height: 600px;
  width: 100%;
  background: #E27A3F;
  padding-top: 70px;
}

.welcome h1, .events h1, .news h1, .articles h1, .resources h1 {
  font-family: 'chunkfiveroman', serif;
  letter-spacing: 1px;
}
.welcome p {
  font-family: 'muliregular', Verdana, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

.row {
  font-family: 'muliregular', Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin-top: 45px;
  text-align: center;
}
.col-md-4 .rowtitle,
.col-lg-4 .rowtitle,
.col-sm-4 .rowtitle {
  text-transform: uppercase;
  text-align: center;
}

.col-md-4, .col-lg-4, .col-sm-4 {
  display: block;
}

.carousel-control.left, .carousel-control.right{
  background-image:none;
}
.carousel-control.left{
  position:absolute;
  left:-20%;
}
.carousel-control.right{
  position:absolute;
  right:-20%;
}
.carousel-control.left:hover, .carousel-control.right:hover{
  background-image:none;
}
.carousel{
  height:400px;
}
.carousel-inner{
  height:400px !important;
}