@import "bootstrap";
// Styles for pages (home, about, information)

.center {
  text-align: center;
}
.home-top{
  margin:3%;
}
.inner {
  max-width: 60%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.directory-inner h1 {
  font-family: 'chunkfiveroman', Georgia, 'Times New Roman', serif;
}

.aboutus {
  background-image: image-url("dots-pattern.jpg");
  background-repeat: repeat;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-top: -55px;
  text-align: center;
}
.aboutus img {
  text-align: center;
  max-width: 50%;
  border-radius: 25px;
}

.aboutus h1 {
  color: #334D5C;
}
.welcome {
  background-image: image-url("dots-pattern.jpg");
  background-repeat: repeat;
  position:fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  margin-top: -55px;
}

.welcome p{
  font-family: 'mulilight', Verdana, Helvetica, Arial, sans-serif;
  font-size: 23px;
  line-height: 31px;
  text-align: center
}
.welcome-icon-down {
  text-align: center;
  font-size: 30px;
}
.welcome-icon-down > a:link {
  background-color: transparent !important;
  text-decoration: none;
  color: #303030;
}
.welcome-icon-down > a:visited {
  color: #303030;
}
.welcome-icon-down > a:hover {
  color: #45B29D;
}
.welcome-icon-down > a:active {
  color: #45B29D;
}

.info-icon-down {
  text-align: center;
  font-size: 30px;
}
.info-icon-down > a:link {
  background-color: transparent !important;
  text-decoration: none;
  color: #303030;
}
.info-icon-down > a:visited {
  color: #303030;
}
.info-icon-down > a:hover {
  color: #DF5A49;
}
.info-icon-down > a:active {
  color: #DF5A49;
}

.events {
  position: relative;
  z-index: 10;
  margin-top: 25%;
  min-height: 600px;
  width: 100%;
  background: #45B29D;
}
.events-icon-down {
  text-align: center;
  font-size: 30px;
}
.events-icon-down > a:link {
  background-color: transparent !important;
  text-decoration: none;
  color: #303030;
}
.events-icon-down > a:visited {
  color: #303030;
}
.events-icon-down > a:hover {
  color: #E27A3F;
}
.events-icon-down > a:active {
  color: #E27A3F;
}

.recentevents a {
  color: #FFFFFF;
  text-decoration: none;
}
.recentevents a:visited {
  color: #FFFFFF;
}
.recentevents a:hover {
  color: #303030;
  background-color: transparent;
}
.recentevents a:active {
  color: #303030;
}

.link-doco {
  color: #FFFFFF;
}
.link-doco h1, .articles h1 {
  color: #FFFFFF;
}

.linkkk a {
  color: #FFFFFF;
  text-decoration: none;
}
.linkkk a:visited {
  color: #FFFFFF;
}
.linkkk a:hover {
  color: #DF5A49;
  background-color: transparent;
}
.linkkk a:active {
  color: #DF5A49;
}

.news {
  position: relative;
  z-index: 12;
  margin-top: 0;
  min-height: 600px;
  width: 100%;
  background: #E27A3F;
}
.icon-to-top {
  text-align: center;
  font-size: 30px;
}
.icon-to-top > a:link {
  background-color: transparent !important;
  text-decoration: none;
  color: #303030;
}
.icon-to-top > a:visited {
  color: #303030;
}
.icon-to-top > a:hover {
  color: #FFFFFF;
}
.icon-to-top > a:active {
  color: #FFFFFF;
}


.recentnews a {
  color: #FFFFFF;
  text-decoration: none;
}
.recentnews a:visited {
  color: #FFFFFF;
}
.recentnews a:hover {
  color: #303030;
  background-color: transparent;
}
.recentnews a:active {
  color: #303030;
}


.articles {
  position: relative;
  z-index: 10;
  margin-top: 25%;
  min-height: 600px;
  width: 100%;
  background: #DF5A49;
  padding-top: 70px;
}

.resources {
  position: relative;
  z-index: 12;
  margin-top: 0;
  min-height: 600px;
  width: 100%;
  background: #334D5C;
  padding-top: 70px;
}

.downloads {
  position: relative;
  z-index: 14;
  margin-top: 0;
  min-height: 600px;
  width: 100%;
  background: #E27A3F;
  padding-top: 70px;
}

.aboutus, .welcome h1, .events h1, .news h1, .articles h1, .resources h1 {
  font-family: 'chunkfiveroman', serif;
  letter-spacing: 1px;
}
.aboutus p {
  font-family: 'muliregular', Verdana, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

.row {
  font-family: 'mulilight', Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin-top: 45px;
  text-align: center;

}
.col-md-4 .rowtitle,
.col-lg-4 .rowtitle,
.col-sm-4 .rowtitle {
  text-align: center;
  font-family: 'open_sansbold', Helvetica, Arial, sans-serif;
  font-size: 18px;
  letter-spacing: .1rem;
  color: #FFFFFF;
}

.col-md-4.recentevents, .col-lg-4.recentevents, .col-sm-4.recentevents {
  color: #fff;
}
.col-md-4.recentnews, .col-lg-4.recentnews, .col-sm-4.recentnews {
  color: #fff;
}


.col-md-4 .rowcontent,
.col-lg-4 .rowcontent,
.col-sm-4 .rowcontent {
  color: #FFFFFF;
  text-align: center;
}

.col-md-4 > a {
  color: #FFFFFF;
  font-family: 'open_sansbold', Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.col-md-4 > a:visited {
  color: #FFFFFF;
}
.col-md-4 > a:hover {
  color: #303030;
  background-color: transparent;
}
.col-md-4 > a:active {
  color: #303030;
}


.col-md-4, .col-lg-4, .col-sm-4 {
  display: block;
  padding: 10px;
  min-height: 350px;
}
.carouselitems:hover {
  background: rgba(165, 25, 2, 0.25);
  border-radius: 10px;
}

.carousel-control.left, .carousel-control.right{
  background-image:none;
}
.carousel-control.left{
  position:absolute;
  left:-20%;
  color: #303030;
}
.carousel-control.right{
  position:absolute;
  right:-20%;
  color: #303030;
}
.carousel-control.left:hover, .carousel-control.right:hover{
  background-color: transparent;
}
.carousel{
  min-height:400px;
}
.carousel-inner{
  min-height:400px;
  padding: 0px 15px;
}

.info-text-box{
  width:80%;
  text-align: center;
  margin:0 auto;
}