 html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  padding-top: 75px;
  padding-bottom: 75px;
}
.navbar-fixed-top {
  -webkit-box-shadow: 0 8px 5px -5px #CCC;
  -mox-box-shadow: 0 8px 5px -5px #CCC;
  box-shadow: 0 8px 5px -5px #CCC;
  background: #FFFFFF;
  height: 80px;
}

.navbar-brand img {
  width: 330px;
  height: 55.20px;
}

.navbar-fixed-top a {
  font-family: 'muliregular', Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase; 
}

.navbar-fixed-bottom {
  background-image: image-url("geometry.png") !important;
  background-repeat: repeat;
  background-repeat: repeat;
  height: 65px;
  background: #FFFFFF;
  text-align: center;
  padding-top: 10px;
}

.navbar-fixed-bottom a:link {
  font-size: 14px;
  color: #303030;
  text-decoration: none;
}
.navbar-fixed-bottom a:visited {
  color: #303030;
}
.navbar-fixed-bottom a:hover {
  color: #303030;
  background-color: transparent;
}

.navbar-fixed-bottom .copyright {
  font-family: 'muliregular', Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

