 html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.maincontainer {
  overflow: auto;
  padding-bottom: 65px;
  padding-top: 80px;
}

.navbar-fixed-top {
  background-image: image-url("geometry.png") !important;
  background-repeat: repeat;
  -webkit-box-shadow: 0 8px 5px -5px #CCC;
  -mox-box-shadow: 0 8px 5px -5px #CCC;
  box-shadow: 0 8px 5px -5px #CCC;
  background: #FFFFFF;
  height: 80px;
  margin-bottom:-80px;
}

.navbar-nav {
  font-family: 'aleoregular', Georgia, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: 18px;
  text-transform: uppercase;
}
.navbar-nav > li > a {
  color: #303030 !important;
}
.navbar-nav > li > a:visited {
  color: #303030 !important;
}
.navbar-nav > li > a:hover {
  color: #45B29D !important;
}
.navbar-nav > li > a:active {
  color: #45B29D !important;
}

.loggedin, .navbar-form {
  float: right;
}

.navbar-collapse.in {
  background-color: #FFFFFF !important;
  margin-top: 30px !important;
}

.navbar-collapsing {
  margin-top: 30px !important;
}


.navbar-fixed-bottom {
  background-image: image-url("geometry.png") !important;
  background-repeat: repeat;
  height: 65px;
  background: #FFFFFF;
  text-align: center;
  margin-top: -65px;
  padding-top: 15px;
}

.navbar-fixed-bottom a:link {
  font-size: 14px;
  color: #303030;
  text-decoration: none;
}
.navbar-fixed-bottom a:visited {
  color: #303030;
}
.navbar-fixed-bottom a:hover {
  color: #303030;
  background-color: transparent;
}

.navbar-fixed-bottom .copyright {
  font-family: 'muliregular', Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.navbar-fixed-bottom a {
  color: #303030;
}
.navbar-fixed-bottom a:visited {
  color: #303030;
}
.navbar-fixed-bottom a:hover {
  color: #DF5A49;
}
.navbar-fixed-bottom a:active {
  color: #DF5A49;
}

.nav > li > a {
  padding:10px 10px;
} 
.navbar-nav > li > a {
  font-size:13px;
  padding-top:25px;
}
.header-image{
  background-image: url(/assets/logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 45px;
  line-height: 60px;
  margin-top: 20px;
}
.header-image span{
  visibility: hidden; 
}
.link-doco{
  min-height:300px;
}
.button-bottom{
  position:absolute;
  bottom:0;
  width: 80%;
  margin: 0px 35px;
}
.button-bottom-articles{
  width:20%;
  margin:20px auto;
}
.info-top{
  margin-top:5%;
}